* {
    box-sizing: border-box;
    color: #000;
  }

  body {
    font-size: 1rem;
    margin: 0;
    background-color: #8a8a88;
  }

  h1 {
    display: flex;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    font-size: 60px;
  }

  nav {
    background: #888a89;
  }

  nav button {
    display: flex;
    background-color: #eee;
    color: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 20px;
  }

  .dropdown {
    display: none;
    background: #333;
    margin: 0 auto;
  }

  .dropdown.show {
    display: block;
  }

  .dropdown a {
    color: #eee;
    padding: 10px;
    display: block;
    text-decoration: none;
  }

  .dropdown a:hover {
    background: #333;
  }

  .rotate {
    transform: rotate(90deg);
  }

  img {
    display: block;
    width: 100%;
    align-items: center;
    padding: 1rem 30rem;
    position: relative;
  }

  h2 {
    text-align: center;
    /* font-family: "Delius", cursive;
    font-weight: 600;
    font-style: normal; */
    font-size: 25px;
    padding: 1rem;
  }

  .sadie {
    padding: 1rem;
    font-size: 20px;
  }

  .nugget {
    padding: 1rem;
    font-size: 20px;
  }

  .title {
    font-size: 20px;
    text-decoration: underline;
    text-align: left;
  }

  .live-links {
    font-size: 15px;
  }

  footer {
    background: #eee;
    margin: auto;
    text-align: left;
    padding: 1rem;
  }