* {
  box-sizing: border-box;
  color: #000;
}

body {
  font-size: 1rem;
  /* margin controls the space outside the box */
  margin: 0;
  background-color: #8a8a88;
}

header {
  background: #888a89;
}

header button {
  /* need display to get arrow to rotate */
  display: flex;
  background-color: #eee;
  color: #000;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.dropdown {
  /* display none hides the element */
  display: none;
  background: #333;
}

.dropdown.show {
  /* this bumps the rest of the page down when the menu drops */
  display: block;
}

.dropdown a {
  color: #eee;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #333;
}

.rotate {
  transform: rotate(90deg);
}

h1 {
  /* puts flex around the elements for easier movement */
  display: flex;
  text-align: center;
  text-decoration: underline;
  margin: auto;
  justify-content: center;
  /* padding controls the space between the words and the box outline */
  padding: 20px;
  font-size: 60px;
}

img {
  display: block;
  /* width fills page */
  width: 50%;
  /* photo moves around text when screen changes size */
  position: relative;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 25px;
  padding: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  font-size: 30px;
}

.flexbox-links {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.dad {
  background: #93bda2;
  padding: 10px;
}

.mom {
  background: #cd98a0;
  padding: 10px;
}

.mck {
  background: #c3a5cd;
  padding: 10px;
}

.will {
  background: #abbdf1;
  padding: 10px;
}

.pets {
  background: #ede8bd;
  padding: 10px;
}

.title {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
}

.live-links {
  font-size: 15px;
}

footer {
  background: #eee;
  text-align: left;
  padding: 1rem;
}
