* {
  box-sizing: border-box;
  color: #000;
}

header {
  background: #888a89;
}

header button {
  display: flex;
  background-color: #eee;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.dropdown {
  display: none;
  background: #333;
  margin: auto;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  color: #eee;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #333;
}

.rotate {
  transform: rotate(90deg);
}

img {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 1rem 30rem;
}

body {
  background-color: #888a89;
  margin: 0;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
}

.paragraph {
  text-align: center;
  font-size: 20px;
  padding-left: 3rem;
  padding-right: 3rem;

}

h2 {
  text-align: center;
  /* font-family: "Delius", cursive;
  font-weight: 600;
  font-style: normal; */
  font-size: 25px;
  padding: 1rem;
}

.sadie {
  padding: 1rem;
  font-size: 20px;
}

.nugget {
  padding: 1rem;
  font-size: 20px;
}

.title {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
}

.live-links {
  font-size: 15px;
}

footer {
  background: #eee;
  margin: auto;
  text-align: left;
  padding: 1rem;
}